[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fire = "*"
jupyter = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
ipdb = "*"
tensorboard = "*"
tweepyrate = {git = "https://github.com/finiteautomata/tweepyrate"}
pytest = "*"
tabulate = "*"

[packages]
torch = "==1.8.1"
torchtext = "==0.5.0"
transformers = "*"
jupyterlab = "*"
jupyter = "*"
nlp = "*"
datasets = "*"
ipywidgets = "*"
sklearn = "*"
pysentimiento = {editable = true, path = "."}
aiofiles = "*"
emoji = "*"
pytorch-lightning = "*"

[requires]
python_version = "3.8"
